.container {
  max-width: 500px;
  margin: 100px auto;

  font-size: 30px;
  font-family: Arial, sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
button {
  width: 100px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;

  background: #000000;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #080080;
}

/* .button {
  padding: 10px;
  width: 100px;
  font-size: 15px;
} */

/* PRODUCTS */
.productCard {
  display: grid;
  grid-template-areas:
    "productContent productContent sidebar"
    "productContent productContent sidebar";
  grid-template-columns: 2fr 1fr;
}

.productContent {
  grid-area: productContent;

  display: flex;

  height: auto;
}

.productsContainer {
  width: 280px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 5px;
  font-size: 20px;
  background-color: grey;
  border: 1px solid black;
  /* display: grid; */
  /* grid-area: productsContainer; */
  justify-content: center;
  align-items: center;
}

a img {
  width: 100%;
  border-radius: 5px;
}

a,
h3 {
  text-decoration: none;
  color: black;
}

.navProducts {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navProducts button {
  margin-left: 10px;
}

.price {
  display: flex;
  font-size: 20x;
  justify-content: space-around;
  align-items: center;
}

div .sidebar {
  grid-area: sidebar;
  font-size: 15px;
  justify-content: space-between;
}
