.container {
  max-width: 500px;
  margin: auto;
  margin-top: 50%;
  font-size: 30px;
  font-family: Arial, sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
button {
  width: 100%;
  padding: 10px;
  font-size: 30px;
  margin-top: 20px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #0056b3;
}

/* .button {
  padding: 10px;
  width: 100px;
  font-size: 15px;
} */

/* PRODUCTS */
.productsContainer {
  width: 500px;
  padding: 20px;
  margin: 30px auto;
  font-size: 2em;
  background-color: grey;
  border: 1px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
}

a img {
  width: 100%;
  border-radius: 5px;
}

a,
h3 {
  text-decoration: none;
  color: black;
}

.navProducts {
  width: 100%;
  padding: 25px;
  font-size: 40px;
  background-color: blue;
  color: white;
}

.productCard {
  display: grid;
  grid-template-areas: "productContent productContent sidebar";
  grid-template-rows: 2fr 1fr;
}

.productContent {
  grid-area: productContent;
  display: flex;
}

.sidebar {
  grid-area: sidebar;
}
